*{
  padding: 0;
  margin: 0;
}

.mr-50{
  padding-right: 50px;
}
.mr-30{
  padding-right: 30px;
}
.text-center{
  text-align: center;
}

.btn{
  background:linear-gradient(to left, #DD195E, #F7481C);
  padding: 10px 20px;
  color: #fff !important;
  font-weight: 600px;
  border-radius: 6px;
}

.nav{
  width: 100%;
}
.banner{
  padding: 20px 0;
  background-color: #DE3334;
}
.container{
  width: 80%;
  margin: 0 auto;
}

.nav .nav-container-contents{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FEF7F7;
  text-align: center;
}
.nav-container-contents h3{
  margin-bottom: 10px;
  text-align: center;
}
.nav-container-contents h3 i{
  margin-right: 10px;
}
.nav-container-contents a{
  color: #FEF7F7;
  text-align: center;
}

.nav-two{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-two .nav-two-ul{
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-two-ul li{
 font-weight: 700;
 color: #DE3334;
}
.nav-two-ul .dark{
  color: #202124 !important;
}


.section-featured{
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #202124;

}
.section-desc .caption{
  margin: 20px 0;
  font-size: 32px;
  font-weight: 600;
}
.game-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 50px 0 30px 0;
  width: 100%;
}
.game-wrapper a{
  text-decoration: none;
  color: #202124;
  font-weight: 500;
}

.game-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-card p{
  margin-top: 10px;
}
.game-card img{
  width: 100%;
  border-radius: 12px;
}



@media screen and (max-width:400px){
  .nav-two{
    flex-direction: column;
    align-items: center;
  }
  .nav-two ul{
    margin: 20px auto;
    
  }
}
@media screen and (max-width:700px){
  .nav-two ul:nth-child(2){
    order: 3;
    margin: 10px auto;
    
  }
}
@media screen and (min-width:700px){
  .game-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  
}

@media screen and (min-width:990px){
  .game-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@media screen and (min-width:1200px){
  .game-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr) !important;
  }
}